.fourblock {
	width: 100%;
	background-color: #004B8D;
	background: linear-gradient(90deg, rgba(0,50,95,1) 0%, rgba(0,71,134,1) 20%, rgba(0,71,134,1) 50%, rgba(0,71,134,1) 80%, rgba(0,50,95,1) 100%);
	display: flex;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	padding-bottom: 40px;
	&__title {
		margin-top: 40px;
		margin-bottom: 40px;
		color: #fff;
	}


	&__grid {
		width: 100%;
	}

	.elemgrid {
		width: 100%;
		
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		will-change: transform;
		@media screen and (min-width: 765px) {
			width: 30%;
			min-width: 200px;
			max-width: 250px;
		}
		@media screen and (min-width: 1350px) {
			width: 23%;
		}
		
		img {
			padding-top: 20px;
			width: 150px;
			height: auto;
			
		}
		p {
			font-family: MyriadProRegular;
			padding-top: 10px;
		}
		a {
			margin-top: 15px;
			padding: 8px 30px;			
			text-align: center;
			background-color: #004B8D;
			
			border-radius: 8px;
			color: #fff;
			font-family: MyriadProRegular;
			cursor: pointer;
		}
		a:hover {
			background-color: #177ed8;
		}
	}
}