.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 15px;
	background-color: #004480;
	border-bottom: 1px solid #003b6d;
	box-shadow: 0 0 15px 0 #001c3591;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 3;
	@media(min-width: 1000px){
		padding: 0 25px;
	}
	@media screen and (min-width: 1200px){
		height: 80px;
	}
}

.logo {
	background-image: url(./static/novwhite.png);
	width: 151px;
	height: 50px;
}




/* Стили бургера*/

/* скрываем чекбокс */
#menu__toggle {
	opacity: 0;
	@media screen and (min-width: 1200px) {
		display: none;
	}
}

/* стилизуем кнопку */
.menu__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 30px;
	height: 27px;
	border-radius: 3px;
	border: 1px solid #1d79ca;
	box-shadow: 0 0 10px 0 #003a6d;
	cursor: pointer;
	z-index: 1;
	@media screen and (min-width: 1200px) {
		display: none;
	}

}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 77%;
	height: 2.5px;
	background-color: #e5f8ff;
}
.menu__btn > span::before {
	content: '';
	top: -7px;
	width: 100%;
}
.menu__btn > span::after {
	content: '';
	top: 7px;
	width: 100%;
}
/* контейнер меню */
.menu__box {
	display: block;
	position: fixed;
	display: none;
	position: absolute;
	width: 100%;
	margin-top: 15px;
	list-style: none;
	text-align: center;
	background-color: #003b6f;
	left:0;
	z-index: 3;
	border-top: 2px solid #427aab;
	@media screen and (min-width: 1200px) {
		display: flex;
		visibility: visible;
		position: relative;
		background-color: inherit;
		border-top: none;
		margin-top: 0;
		margin-right: 25px;
	}
}
/* элементы меню */
.menu__item {
	display: block;
	padding: 10px 24px;
	color: #FFF;
	font-family: 'MyriadProRegular', sans-serif;
	font-style: normal;
	font-size: 22px;
	font-weight: 300;
	line-height: 59px;
	text-align: center;
	text-decoration: none;
	@media screen and (min-width: 1200px) {
		padding: 11px 25px;
	}
}
.menu__item:hover {
	background-color: #004B8D;
	@media screen and (min-width: 1200px) {
		background-color: #003b6f;
	}
}




                                 /*Открытие и анимация в крестик*/

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
	width: 100%;
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
	width: 100%;
}
#menu__toggle:checked ~ .menu__box {
	display: block;
	left: 0;
}

/*Немного анимации*/

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	transition-duration: .25s;
}
.menu__box {
	transition-duration: .25s;
}
.menu__item {
	transition-duration: .25s;
}
/*Конец Стилизации Меню */

