.layout__header {
	background-color: #fff;
}
.header {
	display: flex;
	justify-content: space-between;
	height: 104px;
	align-items: flex-end;
	padding-bottom: 20px;
	@media (max-width: 769px) {
		justify-content: space-around;
	}
	@media (max-width: 630px) {
		justify-content: space-between;
		height: 65px;
		padding-left: 10px;
	}
	.nav__icon {
		@media (min-width: 630px){
			display: none;
		}
	}
	&__logo {
	}
	&__nav {
		display: flex;
		margin-right: -10px;
		@media (max-width: 965px) {
			margin-right: 0;
		}
		@media (max-width: 630px) {
			position: absolute;
			left: 0;
			z-index: 2;
			width: 100%;
			flex-direction: column;
			top:65px;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
		}
		&-elem {
			width: 120px;
			text-align: center;
			font-family: 'Signika Negative', sans-serif;
			color: #003764;
			border-top: 10px solid transparent;
			transition: .15s ease-out;
			@media (max-width: 768px) {
				width: 90px;
				background-color: #0e57a1;
				color: #fff;
			}
			@media (max-width: 630px) {
				border-top:none;
				width: 100%;
			}
			&:hover {
				border-top-color: #0e57a1;
				color: #0e57a1;
				@media (max-width: 630px) {
					color: #fff;
					background-color: #093059;
				}
			}
			&.active {
				border-top-color: #0e57a1;
				color: #0e57a1;
				@media (max-width: 630px) {
					color: #fff;
					background-color: #093059;
				}
			}
			a { 
				padding-top: 56px; 
				@media (max-width: 630px) {
					padding: 5px;
				}
			}
		}
	}
}
.logo {
	display: block;
	background-image: url(static/logo.png);
	width: 160px;
	height: 19px;
}
.active2 {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}