.layout__promo {
	background-image: url(static/background-promo.png);
	position:relative;
	.wrapper {
		position: relative;
	}
}
.layout__soc {
	background-color: #00376424;
	width: 100%;
	height: 45px;
	position: absolute;
	z-index: 0;
}
.shadow_bottom {
	width: 100%;
	height: 10px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(7,59,113,0.4990371148459384) 0%, transparent 100%);
	position: absolute;
	bottom: 0;
}
.hand {
	position: absolute;
	right: 0;
	top: 36px;
	background-image: url(static/hand.png);
	width: 80%;
	height: 93%;
	background-repeat: no-repeat;
	pointer-events: none;
}
.promo {
	width: 40%;
	display: flex;
	flex-direction: column;
	color: #fff;
	padding-bottom: 45px;
	&__soc {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: flex-start;
		&-img {
			height: 45px;
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #195289;
			margin-right: 1px;
			transition: .25s ease;
			&:hover {
				background-color: #8eb61c;
			}
			.img {
				width: 15px;
				height: 15px;
				background-size: contain;
			}

			.soc1 {
				background-image: url(static/soc1.png);
			}
			.soc2 {
				background-image: url(static/soc2.png);
			}
			.soc3 {
				background-image: url(static/soc3.png);
			}
			.soc4 {
				background-image: url(static/soc4.png);
			}
			.soc5 {
				background-image: url(static/soc5.png);
			}
		}
	}
	&__text {
		font-family: 'Signika Negative', sans-serif;
		h1 {
			font-size: 22px;
			text-transform: uppercase;
			margin: 55px 0 25px;
		}
		p {
			font-size: 13px;
		}
	}
	&__showcase {
		margin: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 70px;
		a>.show_img {
			height: 88px;
			width: 133px;
			border: 3px solid #002c58;
		}
		.showcase-img {
			background-image: url(static/showcase.png);
			width: 154px;
			height: 15px;
		}
	}
	&__buy {
		font-size: 13px;
		font-family: 'Signika Negative', sans-serif;
		p {
			margin-bottom: 10px;
		}
		&-btn {
			display: flex;
			.btn {
				padding: 15px;
				border: 1px solid #000;
			}
			.download {
				margin-right: 5px;
				background: rgb(69,118,4);
				background: linear-gradient(0deg, rgba(69,118,4,1) 0%, rgba(149,187,31,1) 100%);
				outline: 1px solid #77a822;
				outline-offset: -2px;
			}
			.buy {
				background: rgb(146,51,17);
				background: linear-gradient(0deg, rgba(146,51,17,1) 0%, rgba(203,129,77,1) 100%);
				outline: 1px solid #c86b3c;
				outline-offset: -2px;
			}
		}
	}
}