.layout__carusel {
	background-color: #f1f1f1;
	margin-top: 35px;
	.wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.carusel {
	&__item {
		margin-right: 4px;
		outline: none;
		&-textblock{
			background-color: #fff;
			height: 140px;
			font-family: 'Open Sans', sans-serif;
			font-size: 11px;
			line-height: 18px;
			padding: 20px;
			color: #484848;
			position: relative;
			z-index: 1;
			span {
				display: inline;
				color: #001e3c;
				font-weight: 600;
			}
			&:before {
				content: '';
				position: absolute;
				border: 70px solid transparent; 
				border-right: 44px solid #fff;
				top: 45px;
				left: -60px;
				z-index: -1;
			}
		}
		&-icon {
			margin-top: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #0e57a1;
			.icon {
				height: 60px;
				width: 60px;
				border: 3px solid #0e57a1;
				margin-right: 20px;
				&__adam{
					background-image: url(static/adam.png);
				}
				&__alex {
					background-image: url(static/alex.png);
					margin-left: -50px;
					
				}
				&__donnie {
					background-image: url(static/donnie.png);
					margin-left: -30px;
				}
				&__jakub {
					background-image: url(static/jakub.png);
					margin-left: -15px;
				}

			}
		}
	}
	&:last-child {
		margin-right: 0;
	}
}
.slick-prev,.slick-next {
	width: 25px;
	height: 35px;
	top: 28%;
}
.slick-next {
	right: -40px;
}
.slick-prev {
	left: -40px;
}