.treeblock {
	width: 100%;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding-bottom: 40px;
	&__title {
		margin-top: 40px;
	}

	&__grid {
		width: 100%;
	}

	&__title {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 40px;
	}
} 
.elemgrid {
	width: 100%;
	padding: 15px 0;
	border: 1px solid #b3acac42;
	border-radius: 8px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	will-change: transform;
	min-width: 200px;
	margin-bottom: 20px;
		@media screen and (min-width: 765px) {
			width: 30%;
			min-width: 200px;
			max-width: 250px;
		}
		@media screen and (min-width: 1350px) {
			width: 23%;
		}
	img {
		width: 70%;
		border-radius: 5px;
		padding: 15px 0;
	}
	p {
		font-family: MyriadProRegular;
		color: #6f6f6f;
		padding-top: 10px;
		text-align: center;
		.pricered {
			color: #fff ;
			text-decoration: line-through;
			font-family: MyriadProBold;
			background-color: #ea4040;
			padding: 2px 5px;
			border-radius: 5px;
		}
		.pricegreen {
			color: #fff;
			font-family: MyriadProBold;
			background-color: #2f902f;
			padding: 2px 5px;
			border-radius: 5px;
		}
	}
		a {
			display: block;
			width: fit-content;
			margin: 15px auto 0;
			text-align: center;
			padding: 8px 25px;
			background-color: #004B8D;
			border-radius: 8px;
			color: #fff;
			font-family: MyriadProRegular;
			cursor: pointer;
			
		}
		a:hover {
			background-color: #177ed8;
		}
	
}

