.layout__carusel {
	background-color: #f1f1f1;
	margin-top: 35px;
	.wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.carusel {
	@media (max-width: 769px) {
		padding-left: 4px;
	}
	&__item {
		margin-right: 4px;
		outline: none;
		&-textblock{
			background-color: #fff;
			height: 140px;
			font-family: 'Open Sans', sans-serif;
			font-size: 11px;
			line-height: 18px;
			padding: 20px;
			color: #484848;
			position: relative;
			z-index: 1;
			@media (max-width: 769px) {
				height: 180px;
			}
			@media (max-width: 630px) {
				height: 220px;
				padding-top: 10px;
			}
			@media (max-width: 374px) {
				height: 120px;
				margin: 0 20px;
			}
			span {
				display: inline;
				color: #001e3c;
				font-weight: 600;
			}
			&:before {
				content: '';
				position: absolute;
				border: 70px solid transparent; 
				border-right: 44px solid #fff;
				top: 45px;
				left: -60px;
				z-index: -1;
				@media (max-width: 769px) {
					top: 60px;
					left: -70px;
				}
				@media (max-width: 630px) {
					display: none;
				}
				@media (max-width: 375px) {
					display: block;
					top: 0;
					left:0;
				}
			}
		}
		&-icon {
			margin-top: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #0e57a1;
			@media (max-width: 769px) {
				margin-top: 30px;
			}
			@media (max-width: 630px) {
				flex-direction: column;
			}
			.icon {
				height: 60px;
				width: 60px;
				border: 3px solid #0e57a1;
				margin-right: 20px;
				@media (max-width: 769px) {
					margin-right: 10px;
				}
				@media (max-width: 630px) {
					margin-right: 0;
				}
				&__adam{
					background-image: url(static/adam.png);
				}
				&__alex {
					background-image: url(static/alex.png);
					margin-left: -50px;
					@media (max-width: 630px) {
						margin-left: 0;
					}
					
				}
				&__donnie {
					background-image: url(static/donnie.png);
					margin-left: -30px;
					@media (max-width: 630px) {
						margin-left: 0;
					}
				}
				&__jakub {
					background-image: url(static/jakub.png);
					margin-left: -15px;
					@media (max-width: 630px) {
						margin-left: 0;
					}
				}
			}
			.name {
					font-family: 'Open Sans', sans-serif;
					font-weight: 600;
					font-size: 14px;
				}
		}
	}
}
.slick-prev,.slick-next {
	width: 25px;
	height: 35px;
	top: 28%;
}
.slick-next {
	right: -40px;
}
.slick-prev {
	left: -40px;
}