/*Второй блок*/
.twoblock {
	width: 100%;
	height: 568px;
	background-color: #004B8D;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	align-items: center;
	
}
.text {
	font-family: MyriadProRegular;
	&__twoblock {
		padding: 0 40px;
		p{
			padding-top: 10px;
			padding-bottom: 5px;
		}
		h3 {
			color: #EF8032;
			font-family: MyriadProBold;
		}
	}
}
